<style>
    table {
        margin-top: 15px;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    }
</style>
<h3>These pets are looking for a home!</h3>
<a [routerLink]="['/pets/new']">Add a pet to the shelter</a>
<table>
    <col width="200">
    <col width="200">
    <col width="200">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let pet of allPets">
        <td>{{ pet.name }}</td>
        <td>{{ pet.type }}</td>
        <td><button [routerLink]="['/pets',pet._id]">Details</button><button [routerLink]="['/pets',pet._id,'edit']">Edit</button></td>
    </tr>
</table>